* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #373f51;
  margin: 0;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  text-shadow: 3px 3px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  color: #d8dbe2;
  margin-bottom: 5px;
}

#credit {
  text-align: center;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  color: #d8dbe2;
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  display: flex;
  justify-content: space-evenly;
}

.image-method {
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  color: #d8dbe2;
  max-width: 300px;
  margin: 10px 0;
}

.radio-label {
  padding: 0 8px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #d8dbe2;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.form-button-container {
  display: flex;
  justify-content: center;
}

.input {
  max-width: 185px;
  padding: 10px;
}

.form-buttons {
  margin: 10px 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

canvas {
  margin: 20px;
  max-width: 90vw;
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#download-link,
#reset-button {
  border-radius: 12px;
  margin: 0 10px;
  padding: 8px;
  text-decoration: none;
  font-size: medium;
}

#download-link {
  color: rgb(0, 41, 41);
  border: 1px solid rgb(0, 41, 41);
  background-color: rgb(43, 182, 182);
}

#reset-button {
  color: rgb(26, 1, 1);
  border: 1px solid rgb(26, 1, 1);
  background-color: rgb(233, 93, 93);
}

#download-link:hover {
  text-decoration: underline;
}
